  /*******************/
 /****** FONTS ******/
/*******************/
@font-face {
  font-family: 'Edition-International';
  src: url('./assets/Edition-International50.otf');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'Edition-International';
  src: url('./assets/Edition-International30.otf');
  font-weight:300;
  font-style:normal;
}

@font-face {
  font-family: 'Edition-International';
  src: url('./assets/Edition-International70.otf');
  font-weight:700;
  font-style:normal;
}


  /******************/
 /****** BODY ******/
/******************/
body {
  font-family: 'Edition-International', Sans-Serif;
  font-weight:normal;
  cursor:default;
  overflow-wrap:break-word;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color:#FAF9F6;
}

img {
  max-width: 100%;
  display: block;
}

h1 {
  font-size: 3.2em;
  font-weight:normal;
  line-height: 1.1;
  margin-bottom:2%;
}

@media (max-width:390px) {
  h1 {
    font-size:2.6em;
  }
}

section {
  padding:7% 7% 0% 7%;
  margin-bottom:3%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


  /******************/
 /****** Nav *******/
/******************/
nav {
  padding: 20% 12% 1% 6%;
  text-align:right;
  margin-bottom:12%
}

@media (max-width: 1375px) {
  .Header--text {
    width:560px;
    margin-left:auto;
  }
}
@media (max-width:1250px) {
  .Header--text {
    width:360px;
  }
}
@media (max-width: 1025px) {
  .Header--text {
    margin-top:25%;
  }
}
@media (max-width: 775px) {
  .Header--text {
    margin-top:35%;
  }
}
@media (max-width: 560px) {
  .Header--text {
    margin-top:50%;
  }
}
@media (max-width: 440px) {
  .Header--text {
    margin-top:75%;
    width:95%;
  }
}

.Header--downBtn {
  margin-top:4%;
  margin-right:5%;
  color:black;
  background-color:#FAF9F6;
  font-size:50px;
  border: 1px solid transparent;
  font-family: inherit;
  cursor: pointer;
  animation: downwards 1.5s infinite;
}

@keyframes downwards {
  0% {
    transform:translateY(0);
  }
  50% {
    transform:translateY(-30px);
  }
  100% {
    transform:translateY(0);
  }
}

.Header--tiles {
  max-width:65%;
  min-width:280px;
  max-height:45%;
  position:absolute;
  display:grid;
  grid-template-columns: repeat(3, 31%);
  grid-template-rows: repeat(3, auto);
  top:0%;
  left:0%;
}

.Header--tiles > img {
  object-fit:cover;
  cursor:zoom-in;
}

.Header--tiles > img:nth-child(6) {
  width:68.75%;
}
.Header--tiles > img:nth-child(9) {
  width:46.5%;
}

.Header--archiveImgPopUp {
  width:10%;
  border-radius:15px;
  animation:appear 700ms;
  position:absolute;
  margin-top:15px;
  margin-left:15px;
}

@media (max-width: 1100px) {
  .Header--archiveImgPopUp {
    width:15%;
  }
}
@media (max-width: 760px) {
  .Header--archiveImgPopUp {
    width:20%;
  }
}

@keyframes appear {
  from {
    transform:scale(0);
  }
  to {
    transform:scale(1);
  }
}


  /****************************/
 /****** Neighborhoods *******/
/****************************/
.Neighborhoods--search-districts {
  display:flex;
  align-items:center;
  justify-content:space-around;
}

.Neighborhoods--imgContainer {
  position:relative;
  width:630px;
  padding:3%;
  filter: drop-shadow(3px 3px 4px gray);
}

.Neighborhoods--marker {
  width:45px;
  z-index:1;
  position:absolute;
  filter: drop-shadow(3px 3px 4px gray);
}

.Neighborhoods--marker:hover {
  cursor:pointer;
  animation:grow 200ms;
  animation-fill-mode: forwards;
}

.selected {
  z-index:4 !important;
}

.Neighborhoods--district-info {
  width:31vw;
  height:32vw;
  padding:3%;
}

@keyframes grow {
  from {
    transform:scale(1);
  }
  to {
    transform:scale(1.25);
  }
}

.Neighborhoods--panelContainer {
  display:flex;
  flex-direction:column;
  align-items:stretch;
}

.Neighborhoods--description {
  height:25vw;
}

@media (max-width:1330px) {
  .Neighborhoods--imgContainer {
    width:50%;
  }
  .Neighborhoods--district-info {
    width:50%;
  }
  .Neighborhoods--marker {
    width:38px;
  }
}
@media (max-width:1165px) {
  .Neighborhoods--search-districts {
    flex-direction:column;
  }
  .Neighborhoods--imgContainer { 
    width:55%;
    padding:0%;
  }
  .Neighborhoods--district-info {
    width:94%;
    height:36vw;
  }
  .Neighborhoods--description {
    height:24.5vw;
  }
}
@media (max-width:975px) {
  .Neighborhoods--marker {
    width:35px;
  }
}
@media (max-width:805px) {
  .Neighborhoods--imgContainer {
    width:75%;
  }
  .Neighborhoods--district-info {
    height:48vw;
  }
  .Neighborhoods--description {
    height:35vw;
  }
}
@media (max-width:650px) {
  .Neighborhoods--district-info {
    height:75vw;
  }
  .Neighborhoods--description {
    height:59vw;
  }
  .Neighborhoods--marker {
    width:30px;
  }
}
@media (max-width:525px) {
  .Neighborhoods--imgContainer {
    width:100%;
  }
  .Neighborhoods--district-info {
    height:100%; /* dummy % value for pos rel (?) */
  }
  .Neighborhoods--description {
    height:100%; /* dummy % value for pos rel (?) */
  }
}
@media (max-width:390px) {
  .Neighborhoods--marker {
    width:25px;
  }
}

.Neighborhoods--arrows {
  display:flex;
  justify-content:center;
}

.Neighborhoods--arrows button {
  font-family:inherit;
  font-size:250%;
  border:none;
  color:black;
  background-color:transparent;
  margin:0% 55px;
}

.Neighborhoods--arrows button:hover {
  cursor:pointer
}

button:disabled {
  color: #B3B3B1;
  cursor:default !important;
}


   /*************************************/
  /************* SeoulMap **************/
 /* Individual Neighborhood Locations */
/*************************************/
#M0 { /* Myeongdong - Namdaemun */
  top:44%;
  left:46%;
  z-index:3;
}

#S1 { /* Sindangdong */
  top:46%;
  left:54.5%;
}

#M2 { /* Myeongryundong */
  top:32%;
  left:48.5%;
}

#G3 { /* Gwanggyo */
  top:42.5%;
  left:48%;
  z-index:2;
}

#K4 { /* Keumhodong */
  top:52%;
  left:63.5%;
}

#C5 { /* Cheonhodong */
  top:48%;
  left:79%;
}

#E6 { /* Euljiro - Chungmuro */
  top:44%;
  left:51%;
}

#J7 { /* Jongno */
  top:39%;
  left:46%;
}

#I8 { /* Itaewon */
  top:54%;
  left:46%;
}


  /***********************/
 /****** Database *******/
/***********************/
.Database--title {
  margin-bottom:4.5%;
}

.Database--tableContainer {
  overscroll-behavior: auto;
}

.Database--table {
  max-height:35em;
  overflow:scroll;
  border:1.5px solid #6C6C6C;
  margin-bottom:4%;
}

.Database--table:hover {
  animation:smallGrow 200ms;
  animation-fill-mode: forwards;
} 

.Database--headerRow {
  display:flex;
  justify-content:flex-start;
  position:sticky;
  z-index:2;
  top:0;
  padding:2.5% 4%;
  background-color:#FAF9F6;
  text-decoration:wavy underline;
  text-decoration-skip-ink: none;
  font-weight:700;
  font-size:1.4vw;
}

.Database--subtext {
  width:fit-content;
  margin-left:auto;
  font-size:16px;
  font-weight:400;
}

.IIIFKeyword {
  color:#636CFF;
}
.IIIFKeyword:hover {
  cursor:pointer;
}


  /***********************/
 /******** Row **********/
/***********************/
.Row {
  display:flex;
  justify-content:flex-start;
  padding:4%;
  font-size:1.2vw;
}

.Row > * {
  margin:0;
}

.Row--name {
  flex:1 1 10%;
}

.Row--neighborhood {
  flex:1 1 10%;
  margin-left:2%;
}

.Row--date {
  flex:1 1 10%;
  padding-left:2.5%;
}

.Row--description {
  flex:2 1 40%;
  text-align:left;
  padding-left:1%;
}

.Row--IIIFViewer {
  position:absolute;
  z-index:1;
}

.Row--address {
  flex:1 1 14%;
  padding-left:3%;
}

/* note to self for searchbar: highlight color #f6efdc */


  /***********************/
 /******* About *********/
/***********************/
fieldset {
  min-width:0; /* min-width:-webkit-min-content is default on chrome. */
  margin-top: 3%;
}

fieldset:hover {
  animation:smallGrow 200ms;
  animation-fill-mode: forwards;
}

legend {
  font-size:25px;
  padding-left:15px;
  padding-right:15px;
}

.panel {
  padding:1% 2% 2% 2%;
}

footer {
  margin-top:10%;
  padding:4%;
  text-align:center;
}

@keyframes smallGrow {
  from {
    transform:scale(1);
  }
  to {
    transform:scale(1.02);
  }
}